<div class="row">
	<h1>Create Posts</h1>
	<form action="/admin/generate-fake-posts" method="post">
		<div class="form-group">
			<input type="text" name="amount" class="form-control">
		</div>
		<button type="submit">Create</button>
	</form>
</div>